body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.main-section {
    background-color: green;
    min-height: 75%;
}

.main-image {
    background-image: url(../images/crypto.jpg);
    background-repeat: no-repeat;
    height: 90vh;
    max-width: 100%;
    clip: rect(0, 400px, 200px, 0);
}

.sidebar {
    height: 90vh;
}


/* #coin-input {
    padding-left: 1em;
    width: 90%;
    border-radius: 5px;
} */

footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
}

.link:hover {
    color: gold;
}

.row {
    margin-bottom: 0;
}

#coin-input {
    padding-left: 1em;
    width: 90%;
    border-radius: 5px;
    background: #4a4a4a;
    color: #000000;
    border: 1px solid #454545;
    height: 0 0 30px;
}

#coin-input:hover {
    background: #656565
}

#coin-input:active {
    box-shadow: 0 0 30px #96f226
}

#coin-input:focus {
    box-shadow: 0 0 30px #96f226
}

.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

.ui-autocomplete>li>div {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
}

.ui-state-hover,
.ui-state-active,
.ui-state-focus {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
    cursor: pointer;
}

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

li {
    line-height: 2;
}

.modal-trigger {
    margin-bottom: 5%;
}

.myCoinBtn {
    width: 60%;
    margin: 4% 0 4% 0;
}

.remove-coin-btn {
    cursor: pointer;
}

.remove-coin-btn:hover {
    color: red;
}


/* Media Queries */


/* @media screen and (max-width: 900px) {
    .sidebar {
        height: 20vh;
    }
} */