body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.main-section {
    background-color: green;
    min-height: 75%;
}

.main-image {
    background-image: url(../images/crypto.jpg);
    background-repeat: no-repeat;
    height: 90vh;
    max-width: 100%;
    clip: rect(0, 400px, 200px, 0);
}

.sidebar {
    height: 90vh;
}

#coin-input {
    padding-left: 1em;
    width: 90%;
    border-radius: 5px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.link:hover {
    color: gold;
}